body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', 'Courier', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: linear-gradient(to right, #d31027, #ea384d);
}

button {
  cursor: pointer;
}